.style1 {
    transform: translate3d(-5709px, 0px, 0px); 
    transition: all 0s ease 0s; width: 11418px;
}
.style2 {
    transform: translateZ(0px) translateY(66.2667%);
}
.style3 {
    transform: translateZ(0px) translateY(66.2667%);
}